.skills {
  width: 80%;
  margin: 50px auto;
}
.skills h3 {
  font-size: 1.8em;
  margin: 10% auto;
  text-shadow: -15px 0px 50px black;
  font-family: "Anta", sans-serif !important;
  font-weight: normal;
}
.skillsWrapper {
  display: flex;
  /* flex-direction: colu   mn; */
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
}
.skillsWrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(20% - 10px);
}

.skillsWrapper div img {
  width: 60%;
  margin-bottom: 10%;
}

.skillsWrapper div p {
  font-size: 1em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .skills {
    width: 90%;
  }
  .skillsWrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc(50% - 10px);
  }

  .skillsWrapper div img {
    width: 60%;
    margin-bottom: 10%;
  }
}
