.header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}
.header a{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul li{
    margin-right: 30px;
}
.cv{
    border: 2px solid white;
    border-radius: 8px;
    width: 166px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    

.header ul li a{
    font-size: 24px;
}



.nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav .hover {
  padding: .5em .8em;
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav .hover::before,
.nav .hover::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav .hover::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav .hover:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%);
}

.nav .hover:hover:before,
.nav .hover:hover:after {
  transform: translate(0,0);
  opacity: 1;
}

.nav .hover:hover {
  color: #3DA35D;
}

.rotate{
    animation: rotation 5s infinite linear;

}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @media screen and (max-width: 768px) {
    .header{
      display: flex;
      justify-content: center;
    }
    .header ul {
      display: none;
    }
}