body{
  background-color: #354634;
  color: #FFFFFF;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a{
  color: #FFFFFF;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
